@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Cabin+Sketch|Nanum+Pen+Script|Niconne');

h1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 3.5em;
}
p{
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Niconne', cursive;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Anonymous Pro', monospace;
    font-size: 3.5em;
}
.borders{
    border: solid 3px green;
    text-align: justify;
    font-size: 55px;
    padding: 3px;
    margin: 100px;
    text-shadow: 1px -1px 25px green;
}