@import url('https://fonts.googleapis.com/css?family=Lobster|Lobster+Two');
html{
    font-size: 16px;
}
main{
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    text-align: center;
    
}
h1,h2,h3{
    font-weight: normal;
    margin: 0;
    color: #0088dd;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-family: 'Lobster', cursive;
    text-decoration: none; 
    font-size: 2.1rem;
}
h1{
    font-family: Georgia,Times,serif;
    font-size: 3.5em;
    text-shadow: 2px 4px 4px #666666;
    padding-bottom: 10px;
    text-transform: capitalize;
}
h2{
    font-family: Arial,sans-serif;
    font-size: 3.5rem;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
}
h2 span{
    text-transform: none; 
}
article{
    margin-top: 20px;
    text-align: justify;
}
p{
    font-family: Arial, Verdana, sans-serif, sans-serif;
    line-height: 30px;
    color: #665544;
    font-size: 1.6rem;
    width: 600px;
    float: right;
    margin-right:0px;;
}
.credits{
    font-style: italic;
    text-align: right;
}
header{
    margin-bottom: 20px;
}
img{
    width: 220px;
    float: left;
    height: 220px;
    margin-top: 14%;
    margin-left: -33%;
}
p:first-of-type:first-letter {
    font-weight: bold;
    font-size: 3.8rem;
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
  }