$color-first: rgb(194, 0, 97);
$color-second: red;
$color-third: blue;
$color-fourth: rgb(27, 190, 128);
$color-fifth: grey;

@mixin size-color {
    color: white;
    border-radius:50%;
    padding: 2px;
    text-align: center;
    margin: 8px;
}

body {
    text-align: center;
    margin: 170px;
}

.first {
    background-color: $color-first;
    @include size-color()
}
.second {
    background-color:$color-second;
    @include size-color()
}
.third {
    background-color:$color-third;
    @include size-color()
}
.fourth {
    background-color: $color-fourth;
    @include size-color()
}
.fifth {
    background-color: $color-fifth;
    @include size-color()
}