table, th, td {
    border: 1px solid #000000;
 }
header{
    border: 1px solid #000000;
    width: 400px;
    font-weight: bold;
}

.bold{
    font-weight: bold;
    text-align: center;

}
table{
    width: 400px;
}
tfoot{
    text-align: center;
}