<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="./01. ExpressJS-Fundamentals-Introduction-to-Node-JS-Lab-Resources/site.css">
</head>
<body>
    <header>
        <nav class="nav">
          <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="./product/add">Add Product</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <h1 class="head-title">Welcome to ShopStop!</h1>
      </main>
      <footer>
        <p>&copy; ShopStop</p>
      </footer>
    
</body>
</html>