html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-family: Georgia, serif;
}

article {
    background-color: rgb(51, 102, 153);
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 10px 20px;
}